<h1>Links</h1>
<h2>Create A Link</h2>
<%= form_for :link, url: links_path do |f| %>
  Title: <%= f.text_field :title %>
  URL: <%= f.text_field :url %>
  <%= f.submit "Create Link" %>
<% end %>
<h2>All Links</h2>
<table class="table">
  <tr>
    <td></td>
    <td>Title</td>
    <td>URL</td>
    <td>Read?</td>
    <td></td>
  </tr>
  <tr><%= render @links %></tr>
</table>
